.menu{
  display: flex;
  width: auto;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 190px;
  padding-bottom: 60px;
}
.p4{
  font-size: 400px;
}
.tmt{
  font-size: 40px;
  padding-right: 350px;
  font-weight: bold;
}
.buttons{
display: flex;
justify-content: center;}

.buttonLog,.buttonFAQ,.buttonSettings,.buttonTweetUs{
  font-size: 13px;
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
  background: #343a40;
  padding: 10px;
  border: 1px solid #5D6063;
  box-sizing: border-box;
  width: 80px;
  border-radius: 1px;
}
.buttonSettings{width: 100px;}
.buttonTweetUs{width: 125px;}
.buttonShortBreak,.buttonPomodore,.buttonLongBreak,.buttonEnableDA{
  position: relative;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  background-color: #007bff;
  padding: 12px;
  border: 1px solid #5D6063;
  border-radius: 5px;
  width: 300px;
  box-sizing: border-box;
}
.action2{                   /*Styling .action2*/
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
  font-family: serif;
  padding-top: 30px;
  margin-bottom: 40px;
}
.ssrButton{                  /*Position for new 3 buttons*/
  display: flex;
  justify-content: center;
  margin: 35px;
}
.buttonStart,.buttonStop,.buttonReset{
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding: 15px 5px 12px 5px;
  background-color: #28a745;
  border: 1px solid #5D6063;
  border-radius: 4px;
  width: 60px;
  margin: 15px;
}
.buttonStop{background-color: #dc3545;}
.buttonReset{color: #5D6063;background-color: #DDE0E3;}
.buttonEnableDA{padding: 2px;width: auto;}
.secondHeader{line-height: 1.3; color: #6f6f6f; font-weight: 300;}
.firstCube{
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}
.links{
  display: flex;
  justify-content: center;
  margin: 15px;
}
li{font-weight: bold;}
.panel{
    background: #f2f2f2;
    border: solid 1px #e6e6e6;
    margin: 0 0 22px 0;
    padding: 20px;}
