.menu{                    /*Editing Top menu */
  position: relative;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #FFF;
  width: auto;
  background-color: #DDE0E3;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-left: 190px;
  padding-bottom: 60px;
}
.tmt{                     /* Editing "Tomato Timer",and fixing position */
  font-size: 40px;
  padding-right: 350px;
  font-weight: bold;
}
.buttonLog,
.buttonFAQ{             /*Editing position and decoration style for 2 buttons "LOG and FAQ"*/
/*  flex-wrap: wrap;
  display: flex;
  position: relative;
  display: flex;
  justify-content: center;*/
  text-decoration: none;
  color: #FFF;
  text-align: center;
  background-color: #343a40;
  padding: 10px;
  border: 1px solid #5D6063;
  box-sizing: border-box;
  width: 80px;
  border-radius: 2px;
}
.buttonSettings{           /*Editing position and decoration style for button"Settings"*/
  /*display: flex;
  justify-content: center;*/
  text-decoration: none;
  color: #FFF;
  text-align: center;
  background-color: #343a40;
  padding: 10px;
  border: 1px solid #5D6063;
  box-sizing: border-box;
  width: 100px;
  border-radius: 2px;
}
.buttonTweetUs{           /*Editing position and decoration style for button "Tweet about us!"*/
/*  display: flex;
  justify-content: center;*/
  text-decoration: none;
  color: #FFF;
  text-align: center;
  background-color: #343a40;
  padding: 10px;
  border: 1px solid #5D6063;
  box-sizing: border-box;
  width: 125px;
  border-radius: 2px;
}
.pslButton{               /*Styling*/
  display: flex;
  justify-content: center;
}
.buttonShortBreak,
.buttonPomodore,
.buttonLongBreak{          /*Fixing position for 3 new buttons*/
  text-decoration: none;
  color: #FFF;
  text-align: center;
  background-color: #007bff;
  padding: 12px;
  border: 1px solid #5D6063;
  border-radius: 5px;
  width: 300px;
  box-sizing: border-box;
}
.action2{                   /*Styling .action2*/
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;
  font-family: serif;
  padding-top: 30px;
  margin-bottom: 40px;
}
.ssrButton{                  /*Position for new 3 buttons*/
  display: flex;
  justify-content: center;
  margin: 35px;
}
.buttonStart{
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background-color: #28a745;
  padding: 20px;
  border: 1px solid #5D6063;
  border-radius: 4px;
  width: 60px;
  margin: 15px;
}
.buttonStop{
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background-color: #dc3545;
  padding: 20px;
  border: 1px solid #5D6063;
  border-radius: 4px;
  margin: 15px;
  width: 60px;
}
.buttonReset{
  text-align: center;
  text-decoration: none;
  color: #5D6063;
  background-color: #DDE0E3;
  padding: 20px;
  border: 1px solid #5D6063;
  border-radius: 4px;
  margin: 15px;
  width: 70px;
}

.links{
  display: flex;
}

.action3 {
  color: #343a40;
  background-color: #DDE0E3;
  font-family: cursive;
  font-weight: bold;
  padding: 20px;
  margin: auto;
}

.action4 {
  margin: auto;
  color: #343a40;
  background-color: #DDE0E3;
  font-family: cursive;
  font-weight: bold;
  padding: 20px;
}
.buttonEnableDA{
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  background-color: #007bff;
  padding: 5px;
  border: 1px solid #5D6063;
  border-radius: 5px;
  width: 200px;
}
.firstCube,
.secondCube,
.thirdCube{

  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}
.action5 {
  margin: auto;
  color: #343a40;
  background-color: #DDE0E3;
  font-family: cursive;
  font-weight: bold;
  padding: 20px;
}
